.form{
    padding: 20px 13px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.form > div{
    display: flex;
    flex-direction: column;
    padding: 5px 0;
}

.form > div > :not(label){
    padding: 9px 5px;
    border-radius: 5px;
}

@media screen and (min-width: 760px) {
    .form{
        width: 400px;
        align-self: center;
        justify-self: center;
    }
}